* {
    box-sizing: border-box;
}

html {
    font-size: calc(1em + 1vw);

    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        background-color: #efefef;
    }
}

// linje 16 til 21, dette er midlertidig kode som kommer fra https://stackoverflow.com/a/56649741
details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }

header {
    nav {
        ul {
            list-style-type: none;
            
            li {
                a {
                    text-decoration: none
                }
            }
        }
    }
}

.hidden {
    display: none;
}