* {
    box-sizing: border-box;
}

html {
    font-size: calc(1em + 1vw);

    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        background-color: #efefef;
    }
}

// linje 16 til 21, dette er midlertidig kode som kommer fra https://stackoverflow.com/a/56649741
details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }

header {
    nav {
        ul {
            list-style-type: none;
            
            li {
                a {
                    text-decoration: none
                }
            }
        }
    }
}

.hidden {
    display: none;
}

header {
    grid-area: headerArea;
}

main {
    grid-area: mainArea;
}

aside {
    grid-area: asideArea;
}

footer {
    grid-area: footerArea;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "headerArea" "mainArea" "footerArea" "asideArea"
}